/*=============== 폰트 ===============*/
/*=============== Chopin ===============*/
@font-face {
  font-family: 'Chopin';
  font-style: normal;
  font-weight: 300;
  src: local('Chopin'), url(/fonts/Chopin/Chopin-Trial-Light-BF65b1d69151abf.otf) format("opentype");
}

/*=============== Aboreto ===============*/
@font-face {
  font-family: 'Aboreto';
  font-style: normal;
  font-weight: 400;
  src: local("※"), url(/fonts/Aboreto/Aboreto-Regular.ttf) format("truetype");
}

/*=============== Abril_Fatface ===============*/
@font-face {
  font-family: 'Abril_Fatface';
  font-style: normal;
  font-weight: 400;
  src: local("※"), url(/fonts/Abril_Fatface/AbrilFatface-Regular.ttf) format("truetype");
}

/*=============== Microsoft-Avant ===============*/
@font-face {
  font-family: 'Microsoft_Avant';
  font-style: normal;
  font-weight: 700;
  src: local('Microsoft_Avant'), url(/fonts/MicrosoftAvant/microsoft_avant_by_lyricofficial_dczlrta.ttf) format("truetype");
}

/*=============== Bohme ===============*/
@font-face {
  font-family: 'Bohme';
  font-style: normal;
  font-weight: 700;
  src: local('Bohme'), url(/fonts/Bohme/Bohme.ttf) format("truetype");
}

/*=============== Engravers ===============*/
@font-face {
  font-family: 'Engravers';
  font-style: normal;
  font-weight: 400;
  src: local('Engravers'), url(/fonts/Engravers/engravers-mt.ttf) format("truetype");
}

/*=============== Pragati-Narrow ===============*/
@font-face {
  font-family: 'Pragati_Narrow';
  font-style: normal;
  font-weight: 400;
  src: local('Pragati_Narrow'), url(/fonts/PragatiNarrow/PragatiNarrow-Regular.ttf) format("truetype"), url(/fonts/PragatiNarrow/PragatiNarrow-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Pragati_Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('Pragati_Narrow'), url(/fonts/PragatiNarrow/PragatiNarrow-Bold.ttf) format("truetype"), url(/fonts/PragatiNarrow/PragatiNarrow-Bold.woff) format('woff');
}

/*=============== 이사만루체 ===============*/
@font-face {
  font-family: 'Esamanru';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Esamanru/esamanru\ Light.ttf) format("truetype"), url(/fonts/Esamanru/esamanru\ OTF\ Light.otf) format('opentype');
}

@font-face {
  font-family: 'Esamanru';
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Esamanru/esamanru\ Medium.ttf) format("truetype"), url(/fonts/Esamanru/esamanru\ OTF\ Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Esamanru';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Esamanru/esamanru\ Bold.ttf) format("truetype"), url(/fonts/Esamanru/esamanru\ OTF\ Bold.otf) format('opentype');
}

/*=============== Pretendard ===============*/
@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('./font/Pretendard-Regular.woff2') format('woff2'),
    url('./font/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('./font/Pretendard-Medium.woff2') format('woff2'),
    url('./font/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('./font/Pretendard-SemiBold.woff2') format('woff2'),
    url('./font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('./font/Pretendard-Bold.woff2') format('woff2'),
    url('./font/Pretendard-Bold.woff') format('woff');
}