.aboreto-regular {
  font-family: "Aboreto", serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

/*=============== 노멀라이즈 ===============*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

body {
  font-family: 'Pragati_Narrow';
  font-weight: 400;
  font-style: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}


.gradient_box {
  width: 100%;
  height: 400px;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(1, 3, 7, 1) 100%);
}

.gradient_box_reverse {
  width: 100%;
  height: 400px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(1, 3, 7, 1) 100%);
}

.txt_grey {
  color: #A4A4A4;
  font-size: 12px;
}

.scale {
  transform: scale(0.8);
}


img {
  width: 100%;
  height: auto;
  border: none;
  vertical-align: top;
}

/* from Chopard */
a.btn,
button.btn,
button,
.btn {
  cursor: pointer;
  margin: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  /* font-weight: 400; */
  color: #010307;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15sease-in-out, background-color 0.15sease-in-out, border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
  border-radius: 2px;
  padding: 15px 12px 15px 12px;
  font-family: Engravers;
  -webkit-font-smoothing: antialiased;
  color: #010307;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.sr_only,
caption {
  position: absolute;
  top: -9999px;
  font-size: 0;
  height: 0;
}


/*=============== 커스텀 ===============*/
/*=============== 헤더 섹션 시작 ===============*/
#header {
  position: fixed;
  width: 100%;
  background: transparent;
  z-index: 200;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s;
}

#header .headerTnb {
  opacity: 0;
  display: none;
  position: relative;
  background-color: #212322;
}

#header .headerTnb .close_btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  float: right;
  background: url(./onitsukatiger_images/oni_logo/close_white.svg) no-repeat 0 0 / 100% 100%;
  cursor: pointer;
}

#header .header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  margin: 0 auto;
  position: relative;
  padding: 0 2rem;
  height: 64px;
  box-sizing: border-box;
  transition: all 0.5s;
}

#header .header_wrap .logo_wrap {
  text-align: center;
  height: 100%;
}

/* #header .header_wrap .logo_wrap .logo {
  display: block;
  width: 39px;
  height: 24px;
  background: url(./onitsukatiger_images/oni_logo/new-logo-white.png) no-repeat 0 0 / 100% 100%;
} */

#header .header_wrap .logo_wrap .logo {
  text-align: center;
}

#header .header_wrap .logo_wrap .logo img {
  display: block;
  width: 39px;
  height: 24px;
}

#header .header_wrap .menu_wrap {
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

#header .header_wrap .menu_wrap ul {
  gap: 10px;
}

#header .header_wrap .menu_wrap ul li a {
  display: block;
  width: 12px;
  height: 12px;
}

#header .header_wrap .menu_wrap ul li .search {
  background: url(./onitsukatiger_images/oni_logo/search_white.svg) no-repeat 0 0 / 100% 100%;
}

#header .header_wrap .menu_wrap ul li .user {
  background: url(./onitsukatiger_images/oni_logo/user_white.svg) no-repeat 0 0 / 100% 100%;
}

#header .header_wrap .menu_wrap ul li .burger {
  background: url(./onitsukatiger_images/oni_logo/menu_white.svg) no-repeat 0 0 / 100% 100%;
}

/*--------------- 헤더 호버 시 ---------------*/
#header .header_wrap.on {
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

#header .header_wrap.on .logo_wrap .logo {
  display: block;
  width: 78px;
  height: 49px;
  background: url(./onitsukatiger_images/oni_logo/Onitsuka_Tiger_logo.png) no-repeat 0 0 / 100% 100%;
}

#header .header_wrap.on .menu_wrap ul li .search {
  background: url(./onitsukatiger_images/oni_logo/search.svg) no-repeat 0 0 / 100% 100%;
}

#header .header_wrap.on .menu_wrap ul li .user {
  background: url(./onitsukatiger_images/oni_logo/user.svg) no-repeat 0 0 / 100% 100%;
}

#header .header_wrap.on .menu_wrap ul li .burger {
  background: url(./onitsukatiger_images/oni_logo/menu.svg) no-repeat 0 0 / 100% 100%;
}

/*=============== 헤더 섹션 끝 ===============*/

/*=============== 메인 비주얼 섹션 시작 ===============*/
.section_group {
  /* overflow-y: scroll; */
  overflow: auto;
  height: 100vh;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* scroll-snap-type: y proximity; */
}

.section_group>.section {
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  scroll-snap-align: start;
}

.section_group {
  -ms-overflow-style: none;
}

.section_group::-webkit-scrollbar {
  display: none;
}

.section_group .section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section_group .section img {
  height: 100%;
  object-fit: cover;
}

.section_group #section1 {
  background: url(/onitsukatiger_images/section_1_pic.jpg) no-repeat 0 0 / 50% 50%;
  background-size: cover;
}

.section_group #section2 {
  background: url(/onitsukatiger_images/section_2_pic.jpeg) no-repeat top;
  background-size: cover;
}

.section_group #section3 {
  background: url(/onitsukatiger_images/section_3_pic.png) no-repeat top;
  background-size: cover;
}

.section_group .section .tit_box__inner {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(153, 153, 153, 0.66) 100%);
}

.section_group .section .tit_box__inner a {
  display: inline-block;
  vertical-align: top;
  line-height: 0.9;
}

.section_group .section .tit_box__inner .show {
  display: block;
  font-family: 'Aboreto';
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  letter-spacing: -2px;
  padding-bottom: 5px;
}

.section_group .section .tit_box__inner .show_tit {
  display: block;
  font-size: 66px;
  color: #fff;
  padding-bottom: 1rem;
}

.section_group #section2 .tit_box__inner .show_tit {
  color: #FEE20E;
}

.section_group #section3 .tit_box__inner .show_tit {
  color: #FEE20E;
}

.section_group .section .tit_box__inner .show_sub {
  display: block;
  font-size: 28px;
  color: #DCDCDC;
  font-family: 'Engravers';
}

.section_group #section3 .tit_box__inner .show_sub {
  font-size: 20px;
}

/*=============== 메인 비주얼 섹션 끝 ===============*/

/*=============== 브랜드 소개 섹션 시작 ===============*/
#brand .pagebuilder-column {
  width: 100%;
  align-self: stretch;
}

#brand .pagebuilder-column .onitsuka_tm_logo {
  margin: 0 auto;
}

#brand .pagebuilder-column .onitsuka_tm_logo>img {
  display: block;
  margin: 0 auto;
}

#brand .pagebuilder-column .sub-title {
  width: 87%;
  margin: 20px auto 45px;
}

#brand .pagebuilder-column .description-text {
  max-width: 1240px;
  margin: 0 auto 2.2rem;
  /* margin: 0 auto 3.2rem; */
  padding: 0 15px;
  width: 100%;
  text-align: left;
  box-sizing: border-box;
}

/*=============== 브랜드 소개 섹션 끝 ===============*/

/*=============== NEW ONITSUKA 섹션 시작 ===============*/
.brand_new {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.brand_new .new_onitsuka {
  width: 800px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand_new .new_onitsuka h1 {
  /* font-family: 'Pragati_Narrow'; */
  font-family: 'Bohme';
  font-size: 68px;
  color: #212200;
  font-weight: 700;
  /* margin-bottom: 20px; */
  margin: 0;
  letter-spacing: -4px;
  line-height: -50;
}

.brand_new .new_onitsuka .for_more {
  margin-top: auto;
  padding-bottom: 2rem;
}

.brand_new .new_onitsuka .for_more a {
  display: flex;
  width: 100%;
  height: 100%;
}

.brand_new .new_onitsuka .for_more span {
  font-family: 'Bohme';
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.2px;
  padding-right: 2rem;
}

.brand_new .new_onitsuka .for_more .arrow_box {
  position: relative;
  width: 50%;
}

.brand_new .new_onitsuka .for_more .arrow_box .arrow_top,
.arrow_bottom {
  position: absolute;
  height: 2px;
  background-color: #212322;
  transition: all 0.4s;
}

.brand_new .new_onitsuka .for_more .arrow_box .arrow_bottom {
  bottom: 10%;
  width: 40%;
}

.brand_new .new_onitsuka .for_more .arrow_box .arrow_top {
  width: 10%;
  right: 59%;
  bottom: 42%;
  transform: rotate(40deg);
}

.brand_new .new_onitsuka:hover .for_more .arrow_bottom {
  width: 70%;
}

.brand_new .new_onitsuka:hover .for_more .arrow_top {
  right: 29%;
}

.brand_new .manual_carousel {
  /* padding-inline: 48px; */
  width: 100%;
  /* left: 10%; */
  margin-right: auto;
  margin-left: auto;
  /* margin: 0 auto; */
  overflow: hidden;
  justify-content: center;
}

.brand_new .manual_carousel .slick-track {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.brand_new .manual_carousel .slick-track .slick-slide {
  margin-right: 8px;
  width: calc(100% / 4 - 6px);
  box-sizing: border-box;
  height: 623px;
  display: block;
  width: 100%;
  background-color: #F8F8F8;
}

.brand_new .manual_carousel .slick-track .slick-slide a {
  width: 100%;
  height: 100%;
}

.brand_new .manual_carousel .slick-track .slick-slide a.link {
  display: flex;
  flex-direction: column;
  justify-content: space_between;
}

.brand_new .manual_carousel .slick-track .slick-slide .product_box {
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.brand_new .manual_carousel .slick-track .slick-slide .product_box img {
  position: absolute;
  object-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 1s;
  display: block;
}

.brand_new .manual_carousel .slick-track .slick-slide .product_box .hover {
  position: absolute;
  object-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  opacity: 0;
  transition: opacity 3s;
}

.brand_new .manual_carousel .slick-track .slick-slide:hover .product_box img {
  display: none;
  opacity: 0;
}

.brand_new .manual_carousel .slick-track .slick-slide:hover .product_box .hover {
  display: block;
  opacity: 1;
}

.brand_new .manual_carousel .slick-track .slick-slide .txt_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 0 auto; */
  padding: 30px 0px;
  gap: 12px;
}

.brand_new .manual_carousel .slick-track .slick-slide .txt_box .onitsuka_tiger {
  font-size: 13px;
  color: #A2A2A2;
}

.brand_new .manual_carousel .slick-track .slick-slide .txt_box .product_name {
  font-size: 16px;
  color: #212322;
  letter-spacing: 0.1rem;
}

.brand_new .manual_carousel .slick-track .slick-slide .txt_box .product_price {
  font-size: 13px;
  color: #666666;
  letter-spacing: 0.1rem;
}

/*=============== NEW ONITSUKA 섹션 끝 ===============*/

/*=============== 이벤트 섹션 시작 ===============*/
.events_vid_box {
  position: relative;
  width: 100%;
  height: 90vh;
  /* height: 100vh; */
  /* height: 52vw; */
  overflow: hidden;
}

.events_vid_box .events_vid_container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /* position: absolute;
        object-fit: cover;
        z-index: -1; */
}

.events_vid_box .events_vid_container>video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.events_vid_box .events_vid_container .content {
  position: absolute;
  z-index: 1;
  color: white;
  text-align: center;
  bottom: 6%;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.3s;
}

:root {
  --button-hover-color: rgba(162, 162, 162, 0.5);
}

.events_vid_box .events_vid_container .content:hover {
  box-shadow: inset 0 0 0 2em var(--button-hover-color);
}

.events_vid_box .events_vid_container .content span {
  font-size: 12px;
  display: block;
  padding: 15px 20px;
}

/*=============== 이벤트 섹션 끝 ===============*/

/*=============== TOP SELLER 섹션 시작 ===============*/
.top_seller {
  position: relative;
  height: 100%;
}

.top_seller .flex {
  flex-direction: column;
}

.top_seller .what_is_hot {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 2rem;
}

.top_seller .what_is_hot h1 {
  /* font-family: 'Pragati_Narrow'; */
  /* font-family: 'Microsoft_Avant'; */
  font-family: 'Bohme';
  font-size: 68px;
  color: #212200;
  font-weight: 400;
  /* margin-bottom: 20px; */
  margin: 0;
  letter-spacing: -4px;
  line-height: -50;
}

.top_seller .new_onitsuka .for_more {
  margin-top: auto;
  padding-bottom: 2rem;
}

.top_seller .new_onitsuka .for_more a {
  display: flex;
  width: 100%;
  height: 100%;
}

.top_seller .new_onitsuka .for_more span {
  font-family: 'Pragati_Narrow';
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1.2px;
  padding-right: 2rem;
}

.top_seller .new_onitsuka .for_more .arrow_box {
  position: relative;
  width: 50%;
}

.top_seller .new_onitsuka .for_more .arrow_box .arrow_top,
.arrow_bottom {
  position: absolute;
  height: 2px;
  background-color: #212322;
  transition: all 0.4s;
}

.top_seller .new_onitsuka .for_more .arrow_box .arrow_bottom {
  bottom: 10%;
  width: 40%;
}

.top_seller .new_onitsuka .for_more .arrow_box .arrow_top {
  width: 10%;
  right: 59%;
  bottom: 42%;
  transform: rotate(40deg);
}

.top_seller .new_onitsuka:hover .for_more .arrow_bottom {
  width: 70%;
}

.top_seller .new_onitsuka:hover .for_more .arrow_top {
  right: 29%;
}

.top_seller .manual_carousel {
  /* padding-inline: 48px; */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  justify-content: center;
}

.top_seller .manual_carousel .slick-track {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}

.top_seller .manual_carousel .slick-track .slick-slide {
  margin-right: 8px;
  width: calc(100% / 4);
  box-sizing: border-box;
  height: 623px;
  display: block;
  background-color: #F8F8F8;
}

.top_seller .manual_carousel .slick-track .slick-slide a {
  width: 100%;
  height: 100%;
}

.top_seller .manual_carousel .slick-track .slick-slide a.link {
  display: flex;
  flex-direction: column;
  justify-content: space_between;
}

.top_seller .manual_carousel .slick-track .slick-slide .product_box {
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.top_seller .manual_carousel .slick-track .slick-slide .product_box img {
  position: absolute;
  object-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: opacity 1s;
  display: block;
}

.top_seller .manual_carousel .slick-track .slick-slide .product_box .hover {
  position: absolute;
  object-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  opacity: 0;
  transition: opacity 3s;
}

.top_seller .manual_carousel .slick-track .slick-slide:hover .product_box img {
  display: none;
  opacity: 0;
}

.top_seller .manual_carousel .slick-track .slick-slide:hover .product_box .hover {
  display: block;
  opacity: 1;
}

.top_seller .manual_carousel .slick-track .slick-slide .txt_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin: 0 auto; */
  /* padding: 30px 0px; */
  gap: 12px;
}

.top_seller .manual_carousel .slick-track .slick-slide .txt_box .onitsuka_tiger {
  font-size: 13px;
  color: #A2A2A2;
}

.top_seller .manual_carousel .slick-track .slick-slide .txt_box .product_name {
  font-size: 16px;
  color: #212322;
}

.top_seller .manual_carousel .slick-track .slick-slide .txt_box .product_price {
  font-size: 13px;
  color: #666666;
}
/*=============== TOP SELLER 섹션 끝 ===============*/

/*=============== 푸터 섹션 시작 ===============*/
.main-container #footer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #010307;
  color: #fff;
  text-align: center;
}

.main-container #footer::webkit-scrollbar {
  display: none;
}


#footer .footer_visual img {
  pointer-events: none;
}

/* #footer .footer_detail {
  display: flex;
  flex-grow: 1;
  height: calc(100vh - 488px);
  flex-direction: column;
  justify-content: space-around;
}
#footer .footer_detail .detail_upper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
#footer .footer_detail .detail_upper ul {
  gap: 2rem;
}
#footer .footer_detail .detail_upper .detail_logo_box ul {
  align-items: center;
}
#footer .footer_detail .detail_upper .detail_logo_box img {
  width: 70px;
}
#footer .footer_detail .detail_lower .company {
  padding-bottom: 1rem;
} */
/*=============== 푸터 섹션 끝 ===============*/

/*=============== toTop 버튼 시작 ===============*/
.to-top-btn {
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .to-top-btn:hover {
    background-color: #0056b3;
  } */

.to-top-img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  object-position: center;
}

/*=============== toTop 버튼 끝 ===============*/

/*================= @media (min-width: 1025px) ================*/
@media screen and (min-width: 1025px) {

  /*=============== 헤더 시작 ===============*/
  #header .headerTnb {
    opacity: 1;
    /* padding: 0 10%; */
  }

  #header .header_wrap {
    height: 126px;
    padding: 0 110px;
  }

  /* #header .header_wrap .logo_wrap .logo {
    display: block;
    width: 78px;
    height: 49px;
    background: url(./onitsukatiger_images/oni_logo/new-logo-white.png) no-repeat 0 0 / 100% 100%;
  } */

  #header .header_wrap.on .logo_wrap .logo {
    width: 78px;
    height: 49px;
    background: url(/onitsukatiger_images/oni_logo/new-logo-black.png) no-repeat 0 0 / 100% 100%;
  }

  #header .header_wrap .logo_wrap .logo {
    text-align: center;
  }

  #header .header_wrap .logo_wrap .logo img {
    display: block;
    width: 78px;
    height: 49px;
  }

  #header .header_wrap .menu_wrap {
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }

  #header .header_wrap .menu_wrap ul {
    gap: 30px;
  }

  #header .header_wrap .menu_wrap ul li a {
    display: block;
    width: 24px;
    height: 24px;
  }

  #header.pc_down {
    height: 74px;
  }

  /*=============== 헤더 끝 ===============*/

  /*=============== 메인 비주얼 섹션 시작 ===============*/
  .section_group {
    overflow: auto;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  .section_group>.section {
    min-height: 100vh;
    box-sizing: border-box;
    scroll-snap-align: start;
  }

  .section_group .section .tit_box__inner {
    height: 520px;
    padding-bottom: 6%;
  }

  .section_group .section .tit_box__inner a {
    display: inline-block;
    vertical-align: top;
    line-height: 0.9;
  }

  .section_group .section .tit_box__inner .show {
    display: block;
    font-family: 'Aboreto';
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    letter-spacing: -2px;
    padding-bottom: 5px;
  }

  .section_group .section .tit_box__inner .show_tit {
    display: block;
    font-size: 66px;
    color: #fff;
  }

  .section_group #section2 .tit_box__inner .show_tit {
    color: #FEE20E;
  }

  .section_group #section3 .tit_box__inner .show_tit {
    color: #FEE20E;
  }

  .section_group .section .tit_box__inner .show_sub {
    display: block;
    font-size: 28px;
    color: #DCDCDC;
  }

  .section_group #section3 .tit_box__inner .show_sub {
    font-size: 20px;
  }

  /*=============== 스크롤 다운 애니메이션 시작 ===============*/
  .section_group .section .scroll_down {
    position: absolute;
    z-index: 100;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%)
  }

  .section_group .section .scroll_mouse {
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    width: 6px;
    height: 24px;
    border-radius: 20px;
  }

  .section_group .section .scroll_wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    animation: scrollWheel 2.5s infinite;
  }

  @keyframes scrollWheel {
    0% {
      top: 0;
      opcaity: 0;
    }

    15% {
      top: 0;
      opacity: 1;
    }

    30% {
      top: 0;
      opacity: 1;
    }

    45% {
      top: 18px;
      opcaity: 1;
    }

    100% {
      top: 18px;
      opacity: 0;
    }
  }

  /*=============== 스크롤 다운 애니메이션 끝 ===============*/
  /*=============== 메인 비주얼 섹션 끝 ===============*/

  /*=============== 브랜드 소개 섹션 시작 ===============*/
  .main-container #brand {
    padding-top: 96px;
  }

  #brand .pagebuilder-column .sub-title {
    width: 87%;
    margin: 20px auto 45px;
  }

  #brand .brand_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
  }

  #brand .brand_container .brand_wrap {
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 144px 0;
  }

  #brand .brand_container .brand_wrap ul {
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
  }

  #brand .brand_container .brand_wrap ul li {
    width: calc(100%/3);
    height: 620px;
    overflow: hidden !important;
    aspect-ratio: 460/620;
  }

  #brand .brand_container .brand_wrap ul li img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /*=============== 브랜드 소개 섹션 끝 ===============*/

  /*=============== 이벤트 비디오 섹션 시작 ===============*/
  .events_vid_box {
    position: relative;
    width: 100%;
    height: 90vh;
    /* height: 100vh; */
    /* height: 52vw; */
    overflow: hidden;
  }

  .events_vid_box .events_vid_container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    /* position: absolute;
    object-fit: cover;
    z-index: -1; */
  }

  .events_vid_box .events_vid_container>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .events_vid_box .events_vid_container .content {
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    /* cursor: pointer; */
  }

  .events_vid_box .events_vid_container .content span {
    font-size: 16px;
    line-height: 20px;
    display: block;
    padding: 14px 20px 11px;
  }

  /*=============== 이벤트 비디오 섹션 끝 ===============*/

  /*=============== 이벤트 아이템 시작 ===============*/
  #events_items {
    width: 100%;
    background-color: #010307;
    align-items: center;
    padding: 48px 0px 96px;
  }

  #events_items #items_wrapper {
    display: flex;
    justify-content: center;
    max-width: 1880px;
    gap: 10px;
  }

  #events_items #items_wrapper .product {
    /* width: 450px;
    height: 623px; */
    overflow: hidden;
    position: relative;
    /* flex: 0 0 calc(100% / 4 - 32px); */
    width: calc(100% / 4 - 30px);
    /* height: 623px; */
    aspect-ratio: 440 / 623;
    transform-origin: top left;
  }

  #events_items #items_wrapper .product a {
    display: block;
    width: 100%;
    height: 100%;
    transform-origin: top left;
  }

  #events_items #items_wrapper .product a>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  #events_items #items_wrapper .product a img {
    display: block;
    /* width: auto; */
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* #events_items #items_wrapper .product .product_text_box,
  #events_items #items_wrapper .product .watch_more {
    transform-origin: top left;
  } */

  #events_items #items_wrapper .product .product_text_box {
    width: 100%;
    /* height: 165px; */
    height: 26%;
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    justify-content: end;
    bottom: 0;
    left: 0;
    padding-bottom: 40px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(153, 153, 153, 1) 100%);
  }

  #events_items #items_wrapper .product .product_text_box>span {
    display: block;
    opacity: 1;
    transition: all 0.3s;
  }

  #events_items #items_wrapper .product .product_text_box .onitsuka_tiger {
    /* font-size: 16px; */
    font-size: 1rem;
    /* color: #A2A2A2; */
    color: #c1c1c1;
    padding-bottom: 10px;
  }

  #events_items #items_wrapper .product .product_text_box .product_name {
    /* font-size: 20px; */
    font-size: 1.25rem;
    color: #212200;
    /* padding: 10px 0px; */
  }

  #events_items #items_wrapper .product .product_text_box .product_price {
    font-size: 16px;
    color: #dbdbdb;
    padding-bottom: 30px;
  }

  #events_items #items_wrapper .card {
    position: relative;
  }

  #events_items #items_wrapper .card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
    transition: all 0.3s;
  }

  #events_items #items_wrapper .card:hover::after {
    opacity: 1;
  }

  #events_items #items_wrapper .product .watch_more {
    position: absolute;
    display: flex;
    width: 90%;
    height: 62px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    align-items: center;
    justify-content: center;
    background-color: rgba(225, 225, 225, 0.5);
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
  }

  #events_items #items_wrapper .product:hover .watch_more {
    opacity: 1;
  }

  #events_items #items_wrapper .product .watch_more .btn_for_more {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #events_items #items_wrapper .product .watch_more span {
    display: block;
    font-family: 'Pretendard';
    color: #212200;
  }

  #events_items #items_wrapper .product:hover .product_text_box>span {
    opacity: 0;
  }

  /*=============== 이벤트 아이템 끝 ===============*/

  /*=============== 푸터 섹션 시작 ===============*/
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #footer br {
    display: none;
  }


  #footer .footer_visual .visual_image {
    display: flex;
    justify-content: center;
  }

  #footer .footer_visual .visual_image img {
    display: block;
    width: 500px;
    transform: translateX(-10%);
  }


  #footer .footer_detail {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 1440px;
    flex-grow: 1;
    margin: 0 auto;
    margin-top: 4rem;
    gap: 2rem;
  }

  #footer .footer_detail .detail_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 4rem;
    padding-left: 2rem;
  }

  #footer .footer_detail .detail_upper .detail_list_box {
    width: 50%;
    height: auto;
    margin-top: 1.2rem;
  }

  #footer .footer_detail .detail_upper .detail_list_box ul {
    gap: 2.5rem;
    font-weight: 700;
    height: 100%;
    align-items: center;
  }

  #footer .footer_detail .detail_upper .detail_logo_box {
    width: 50%;
    height: auto;
    justify-content: end;
  }

  #footer .footer_detail .detail_upper .detail_logo_box ul {
    gap: 2.5rem;
    float: right;
  }

  #footer .footer_detail .detail_upper .detail_logo_box li img {
    display: block;
    width: auto;
    height: 70px;
  }

  #footer .footer_detail .detail_lower {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    
  }

  #footer .footer_detail .detail_lower .company {
    /* font-family: 'Esamanru'; */
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -1px;
  }

  /*=============== 푸터 섹션 끝 ===============*/

  /*=============== toTop 버튼 시작 ===============*/
  .to-top-btn {
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
  }

  /* .to-top-btn:hover {
    background-color: #0056b3;
  } */

  .to-top-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
  }

  /*=============== toTop 버튼 끝 ===============*/
}